/* success */
.result0 {
    background-color: #72ff75 !important;
}

/* failure */
.result1 {
    background-color: red;
}

/* warnings */
.result2 {
    background-color: orange;
}

/* exception */
.result3 {
    background-color: #c000c0;
}
